:root{

}
#choice-box{
    text-align: center;
    display: flex;
}

button{
    cursor:pointer;
    width: 25%;
    height: auto;
    margin: 0 5%;
    border: 0;
}
img {
    width:100%;
    height:100%;
    object-fit: cover;
}
#result-box{
    display: flex;
}
#user-img{
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
}
#computer-img{
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
}
#vs{
    object-fit: scale-down;
}
@keyframes wheel{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes knockout{
    0%{
    }
    100%{
        transform: scale(0.01,0.01);
    }
}
.spin2win{
    animation-name: wheel;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
.knockout{
    animation-name: knockout;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}