:root{

}
h1{
    margin: 5% auto;
    text-align: center;
}
body{
    background-color: grey;
    color: white;
    text-align: center;
    margin: 0;
}
#start:hover{
    background-color: grey;
}
button:hover{
    background-color: grey;
}
#start{
    background-color: black;
    color: aliceblue;
    width: 7rem;
    height: 4rem;
    margin: auto;
}
#game-grid{
    align-items: center;
    margin: 10% auto;
    display: grid;
    width: 21rem;
    height: 21rem;
}
#do{
    grid-column: 2;
    grid-row: 1;
}
#re{
    grid-column: 1;
    grid-row: 2;
}
#mi{
    grid-column: 3;
    grid-row: 2;
}
#fa{
    grid-column: 2;
    grid-row: 3;
}
.game-button{
    width: 7rem;
    height: 7rem;
    background-color: black;
    color: aliceblue;
}
